body
{
    margin: 0%;
}
.page-title
{
    text-align: center;
}
.header
{
    margin: 0%;
    padding: 40px;
    background-color: lightblue;
}
.header-item
{
    color: white;
    padding: 5px;
    margin: 50px;
}
.console
{
    font-family: 'Courier New', monospace;
    font-size: 12px;
    text-align: left;
    background-color: black;
    color: greenyellow;
    padding: 10px;
    margin: 20px;
}
.console-content
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.entry
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.response
{
    text-align: right;
}
#commandline
{
    font-family: 'Courier New', monospace;
    font-size: 12px;
    color: greenyellow;
    background-color: black;
    border: none;
    padding: 0px;
    outline: none;
}
#commandline:focus
{
    color: greenyellow;
    background-color: black;
    border: none;
    outline: none;
}